html,
body {
    scroll-behavior: smooth !important;
}
@font-face {
    font-family: SegoeUI;
    src: url(../fonts/SegoeUI.ttf) format("truetype");
}
@font-face {
    font-family: SegoeUI-Semibold;
    src: url(../fonts/seguisb.ttf) format("truetype");
}
@font-face {
    font-family: SegoeUI-Bold;
    src: url(../fonts/SegoeUIBold.ttf) format("truetype");
}
@font-face {
    font-family: Cambria;
    src: url(../fonts/Cambria.ttf) format("truetype");
}
@font-face {
    font-family: Cambria-Bold;
    src: url(../fonts/cambriab.ttf) format("truetype");
}
a {
    &:hover {
        text-decoration: none;
    }
}
.header {
    position: fixed;
    width: 100%;
    z-index: 2;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px #00000014;
    .navbar {
        padding-top: 24px;
        padding-bottom: unset;
        .collapse{
            width: 540px;
        }
        .navbar-brand {
            margin-right: unset;
            padding-top: unset;
            margin-bottom: -44px;
            position: relative;
            img {
                position: absolute;
                z-index: 5;
                top: -50px;
                left: -40px;
            }
            span {
                &::after {
                    content: "";
                    bottom: -38px;
                    left: -44px;
                    width: 96px;
                    height: 44px;
                    position: absolute;
                    background: #ffffff 0% 0% no-repeat padding-box;
                    box-shadow: 0px 4px 8px #00000029;
                    border-radius: 0px 0px 28px 29px;
                }
            }
        }
        .navbar-nav {
            margin: 0 auto;
            .nav-link {
                font-size: 14px;
                font-family: SegoeUI-Bold;
                line-height: 14px;
                letter-spacing: 0px;
                color: #444444;
                opacity: 1;
                padding-top: 12px;
                padding-bottom: 17px;
            }
            &.frst-ul {
                margin-right: 152px;
            }
            &.scnd-ul {
                margin-left: 152px;
            }
        }
    }
    .navbar-light {
        .navbar-toggler {
            border-color: #ee2a7b;
            &:focus {
                outline: 0;
            }
        }
        .navbar-toggler-icon {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28238, 42, 123, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        }
    }
}
.banner {
    background-image: url(../images/Featured.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 140px 0px 155px 0px;
    h1 {
        font-size: 28px;
        font-family: Cambria-Bold;
        line-height: 36px;
        letter-spacing: 0px;
        color: #444444;
        opacity: 1;
        margin-bottom: 20px;
    }
    h5 {
        font-size: 18px;
        font-family: SegoeUI-Bold;
        line-height: 24px;
        letter-spacing: 0px;
        color: #444444;
        opacity: 1;
        margin-bottom: 23px;
    }
    p {
        font-size: 16px;
        font-family: SegoeUI-Semibold;
        letter-spacing: 0px;
        color: #444444;
        opacity: 1;
        margin-bottom: 6px;
        padding-left: 30px;
        position: relative;
        &::after {
            content: "";
            width: 16px;
            height: 16px;
            position: absolute;
            z-index: 1;
            left: 0;
            top: 5px;
            border: 2px solid #ee2a7b;
            border-radius: 50%;
        }
    }
    .link-form {
        padding-top: 38px;
        .std-code {
            display: inline-block;
            padding: 10px 20px 11px 20px;
            background-color: #ffffff;
            border: 1px solid #b97fb6a3;
            border-radius: 4px 0px 0px 4px;
            font-size: 14px;
            font-family: SegoeUI;
            line-height: 18px;
            letter-spacing: 0px;
            color: #888888;
            opacity: 1;
        }
        .form-input {
            padding: 10px 34px 11px 20px;
            width: 245px;
            background-color: #ffffff;
            border: 1px solid #b97fb6a3;
            margin-left: -6px;
            font-size: 14px;
            font-family: SegoeUI;
            line-height: 18px;
            letter-spacing: 0px;
            color: #888888;
            &:focus {
                outline: 0;
            }
        }
        .submit-button {
            background: transparent linear-gradient(90deg, #ee2a7b 0%, #6c1f69 100%) 0% 0% no-repeat padding-box;
            border: unset;
            border-radius: 0px 4px 4px 0px;
            opacity: 1;
            padding: 11px 22px 12px 18px;
            margin-left: -5px;
            font-family: SegoeUI-Semibold;
            font-size: 14px;
            line-height: 18px;
            letter-spacing: 0px;
            color: #ffffff;
            &:focus {
                outline: 0;
            }
        }
    }
    .links {
        padding-top: 24px;
        a {
            img {
                margin-right: 16px;
            }
        }
    }
}
.leading-jewelery {
    background-image: url(../images/Main.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 120px 0px 508px 0px;
    h1 {
        font-size: 28px;
        line-height: 32px;
        letter-spacing: 0px;
        color: #444444;
        opacity: 1;
        margin-bottom: 20px;
        font-family: Cambria-Bold;
    }
    p {
        font-size: 16px;
        line-height: 24px;
        font-family: SegoeUI-Semibold;
        letter-spacing: 0px;
        color: #444444;
        opacity: 1;
        // width: 574px;
        max-width: 100%;
    }
    .count-number {
        padding-top: 60px;
        .content {
            padding-top: 15px;
            margin-left: -6px;
            h6 {
                margin-bottom: unset;
                font-size: 18px;
                line-height: 20px;
                font-family: SegoeUI-Semibold;
                letter-spacing: 0px;
                color: #444444;
            }
            p {
                width: 100%;
                font-size: 14px;
                line-height: 20px;
                font-family: SegoeUI-Semibold;
                letter-spacing: 0px;
                color: #444444;
                margin-bottom: unset;
            }
        }
    }
}
.reselling-business {
    background-color: #ffffff;
    padding: 120px 0px 323px 0px;
    h1 {
        font-size: 28px;
        line-height: 32px;
        letter-spacing: 0px;
        color: #444444;
        opacity: 1;
        margin-bottom: 20px;
        font-family: Cambria-Bold;
    }
    p {
        font-size: 16px;
        line-height: 24px;
        font-family: SegoeUI-Semibold;
        letter-spacing: 0px;
        color: #444444;
        opacity: 1;
        width: 415px;
        max-width: 100%;
    }
    .business-content {
        padding-top: 72px;
        h5 {
            font-size: 20px;
            line-height: 24px;
            font-family: SegoeUI-Semibold;
            letter-spacing: 0px;
            color: #444444;
            margin-bottom: 12px;
        }
        p {
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0px;
            color: #444444;
            opacity: 1;
            font-family: SegoeUI;
            height: 60px;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                left: 0;
                bottom: -18px;
                width: 80px;
                height: 2px;
                background: #ee2a7b 0% 0% no-repeat padding-box;
            }
        }
        .dspn-one {
            width: 210px;
            margin: 0 auto;
        }
        .dspn-two {
            width: 285px;
            margin: 0 auto;
        }
        .dspn-three {
            width: 230px;
            margin: 0 auto;
        }
    }
}
.live-your-dream {
    background: rgba($color: #ee2a7b, $alpha: 0.08) 0% 0% no-repeat padding-box;
    // padding-top: 360px;
    .margin-top {
        margin-top: -210px;
        .video {
            position: relative;
            width: 720px;
            margin: 0 auto;
            &::after {
                content: "";
                position: absolute;
                z-index: 1;
                top: 40%;
                left: 43%;
                background: rgba($color: #ee2a7b, $alpha: 0.5) 0% 0% no-repeat padding-box;
                width: 80px;
                height: 80px;
                border-radius: 50%;
            }
            &::before {
                content: "";
                position: absolute;
                z-index: 2;
                top: 46%;
                left: 47.3%;
                border-top: 14px solid transparent;
                border-left: 24px solid rgba($color: #ffffff, $alpha: 0.7);
                border-bottom: 14px solid transparent;
            }
        }
        .content {
            position: absolute;
            z-index: 1;
            top: 0;
            top: 68px;
            left: 264px;
            h2 {
                font-size: 32px;
                line-height: 42px;
                font-family: SegoeUI-Bold;
                letter-spacing: 0px;
                color: #6c1f69;
                opacity: 1;
                span {
                    color: #ee2a7b;
                }
            }
        }
        .content-two {
            position: absolute;
            bottom: 58px;
            left: 268px;
            z-index: 1;
        }
        .content-three {
            position: absolute;
            bottom: 52px;
            left: 326px;
            z-index: 1;
            h5 {
                font-size: 12px;
                line-height: 14px;
                font-family: SegoeUI-Bold;
                letter-spacing: 0px;
                color: #444444;
                opacity: 1;
                margin-bottom: unset;
            }
            p {
                font-size: 10px;
                line-height: 14px;
                font-family: SegoeUI-Bold;
                letter-spacing: 0px;
                color: #888888;
                opacity: 1;
            }
        }
    }
    .lady-img {
        padding-left: 130px;
        padding-top: 46px;
    }
    h1 {
        padding-top: 158px;
        margin-bottom: 20px;
        letter-spacing: 0px;
        color: #6c1f69;
        opacity: 1;
        font-size: 28px;
        line-height: 32px;
        font-family: Cambria-Bold;
    }
    p {
        color: #6c1f69;
        font-size: 16px;
        line-height: 24px;
        font-family: SegoeUI-Semibold;
        letter-spacing: 0px;
        opacity: 1;
        width: 443px;
    }
}
.nolimit-business {
    background-color: #ffffff;
    padding: 121px 0px 120px 0px;
    h1 {
        font-size: 28px;
        line-height: 32px;
        letter-spacing: 0px;
        color: #444444;
        opacity: 1;
        margin-bottom: unset;
        font-family: Cambria-Bold;
    }
    .limit-content {
        padding-top: 80px;
        h5 {
            font-size: 20px;
            line-height: 24px;
            font-family: SegoeUI-Semibold;
            letter-spacing: 0px;
            color: #444444;
            margin-bottom: 12px;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                left: 0;
                bottom: -24px;
                width: 40px;
                height: 2px;
                background: transparent linear-gradient(90deg, #9c4ba0 0%, #6c1f69 100%) 0% 0% no-repeat padding-box;
            }
        }
        p {
            font-size: 14px;
            line-height: 18px;
            letter-spacing: 0px;
            color: #444444;
            opacity: 1;
            font-family: SegoeUI-Semibold;
            margin-bottom: 8px;
        }
        .dspn-one {
            width: 160px;
            margin: 0 auto;
        }
        .dspn-two {
            width: 130px;
            margin: 0 auto;
        }
        .dspn-three {
            width: 170px;
            margin: 0 auto;
        }
    }
}
.anyone-can-resell {
    background: #eeeeee 0% 0% no-repeat padding-box;
    padding: 120px 0px 80px 0px;
    h1 {
        font-size: 28px;
        line-height: 32px;
        letter-spacing: 0px;
        color: #444444;
        opacity: 1;
        margin-bottom: 20px;
        font-family: Cambria-Bold;
    }
    p {
        font-size: 16px;
        line-height: 24px;
        font-family: SegoeUI-Semibold;
        letter-spacing: 0px;
        color: #444444;
        opacity: 1;
        width: 474px;
        max-width: 100%;
        margin-bottom: unset;
    }
    .anyone-content {
        padding-top: 64px;
        text-align: right;
        .item {
            display: none;
            &.show {
                display: inline;
            }
            img {
                position: relative;
            }
            .overlay {
                position: absolute;
                bottom: 0;
                right: 15px;
                width: 240px;
                height: 120px;
                background: transparent linear-gradient(180deg, #00000000 0%, #000000 100%) 0% 0% no-repeat padding-box;
                opacity: 0.64;
            }
            h6 {
                font-size: 14px;
                line-height: 18px;
                font-family: SegoeUI-Semibold;
                letter-spacing: 0px;
                color: #ffffff;
                margin-bottom: 0px;
            }
            p {
                font-size: 12px;
                line-height: 18px;
                letter-spacing: 0px;
                color: #ffffff;
                opacity: 1;
                font-family: SegoeUI;
                margin-bottom: 24px;
            }
            .dspn {
                position: absolute;
                width: 80%;
                z-index: 1;
                bottom: 0;
                left: 54px;
                text-align: left;
            }
        }
    }
}
.successful-home-businesses {
    background: #ffffff;
    padding: 120px 0px 144px 0px;
    h1 {
        font-size: 28px;
        line-height: 32px;
        letter-spacing: 0px;
        color: #444444;
        opacity: 1;
        margin-bottom: 20px;
        font-family: Cambria-Bold;
    }
    p {
        font-size: 16px;
        line-height: 24px;
        font-family: SegoeUI-Semibold;
        letter-spacing: 0px;
        color: #444444;
        opacity: 1;
        margin-bottom: unset;
    }
    .slider-main {
        padding-top: 72px;
        .slider-inner {
            .slider-contents {
                position: relative;
                &::after {
                    content: "";
                    position: absolute;
                    z-index: 1;
                    right: 96px;
                    bottom: 48px;
                    background: transparent linear-gradient(180deg, #ee2a7b 0%, #6c1f69 100%) 0% 0% no-repeat
                        padding-box;
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                }
                &::before {
                    content: "";
                    position: absolute;
                    z-index: 2;
                    right: 120px;
                    bottom: 74px;
                    border-top: 14px solid transparent;
                    border-left: 24px solid #ffffff;
                    border-bottom: 14px solid transparent;
                }
                img {
                    margin-right: 48px;
                }
                .overlay {
                    width: 720px;
                    height: 240px;
                    background: transparent linear-gradient(180deg, #00000000 0%, #000000 100%) 0% 0% no-repeat
                        padding-box;
                    opacity: 0.72;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                }
                .sub-content {
                    position: absolute;
                    bottom: 0;
                    left: 48px;
                    z-index: 1;
                    h5 {
                        font-size: 16px;
                        line-height: 24px;
                        font-family: SegoeUI-Semibold;
                        letter-spacing: 0px;
                        color: #ffffff;
                        margin-bottom: 16px;
                        width: 437px;
                    }
                    h6 {
                        font-size: 14px;
                        line-height: 24px;
                        font-family: SegoeUI-Semibold;
                        letter-spacing: 0px;
                        color: #ffffff;
                        margin-bottom: 4px;
                    }
                    p {
                        font-size: 14px;
                        line-height: 24px;
                        letter-spacing: 0px;
                        color: #ffffff;
                        opacity: 1;
                        font-family: SegoeUI;
                        margin-bottom: 48px;
                    }
                }
            }
        }
        .slick-disabled {
            background: #888888 !important;
            width: 56px !important;
            transition: 0.2s;
            span {
                &::after {
                    border-color: #888888 !important;
                    left: -22px !important;
                }
                &.change {
                    &::after {
                        left: -4px !important;
                    }
                }
            }
        }
        .slide-arrow {
            position: absolute;
            bottom: -60px;
            border: 0;
            background: #ee2a7b;
            outline: 0;
            width: 120px;
            transition: 0.2s;
            span {
                height: 2px;
                width: 36px;
                position: relative;
                &::after {
                    content: "";
                    position: absolute;
                    border: solid #ee2a7b;
                    border-width: 0 2px 2px 0;
                    display: inline-block;
                    padding: 12px;
                }
            }
        }
        .slick-prev {
            right: 263px;
            z-index: 2;
            span {
                &::after {
                    transform: rotate(135deg);
                    -webkit-transform: rotate(135deg);
                    top: -13px;
                    left: -56px;
                }
            }
        }
        .slick-next {
            right: 115px;
            span {
                &::after {
                    transform: rotate(-45deg);
                    -webkit-transform: rotate(-45deg);
                    top: -13px;
                    left: 31px;
                }
            }
        }
    }
    .slick-list.draggable {
        padding: 0px 350px 0px 0px !important;
        transition: 1s;
    }
    .slick-list.draggable.padding {
        padding: 0px 0px 0px 450px !important;
        transition: 1s;
    }
}
.modal-open .modal {
    padding: unset !important;
}
.modal {
    .modal-dialog {
        max-width: 100%;
        margin: unset;
        .modal-content {
            background-color: transparent;
            border: unset;
            .modal-header {
                border-bottom: unset;
                .close {
                    font-size: 40px;
                    color: #fff;
                    cursor: pointer;
                    font-weight: 400;
                    line-height: 1;
                    text-shadow: unset;
                    opacity: 1;
                    &:focus {
                        outline: 0;
                    }
                }
            }
            .modal-body {
                padding: unset;
                justify-content: center;
                text-align: center;
                padding-top: 80px;
                iframe {
                    width: 800px;
                    height: 520px;
                }
            }
        }
    }
}
.testimonial-slider {
    .slider-test {
        padding-left: 55px;
        .test-inner {
            &:focus {
                outline: 0;
            }
            img {
                margin-right: 52px;
            }
        }
        .slide-chever {
            position: absolute;
            top: 45%;
            border: 0;
            outline: 0;
            background-color: transparent;
            span {
                border: solid #888888;
                border-width: 0 2px 2px 0;
                display: inline-block;
                padding: 18px;
                &:hover {
                    border-width: 0 3px 3px 0;
                }
            }
        }
        .slick-prev {
            left: -22px;
            z-index: 2;
            transform: rotate(135deg);
            -webkit-transform: rotate(135deg);
        }
        .slick-next {
            right: -63px;
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
        }
    }
    .slick-list.draggable {
        padding: 0px 0px;
    }
}
.in-the-news {
    background: #ffffff;
    padding: 120px 0px 53px 0px;
    h1 {
        font-size: 28px;
        line-height: 32px;
        letter-spacing: 0px;
        color: #444444;
        opacity: 1;
        margin-bottom: 48px;
        font-family: Cambria-Bold;
    }
    img {
        margin-bottom: 27px;
    }
}
.zero-investment {
    background-color: #ffffff;
    h1 {
        font-size: 28px;
        font-family: Cambria-Bold;
        line-height: 36px;
        letter-spacing: 0px;
        color: #444444;
        opacity: 1;
        margin-bottom: 20px;
        padding-top: 100px;
    }
    h5 {
        font-size: 18px;
        font-family: SegoeUI-Bold;
        line-height: 24px;
        letter-spacing: 0px;
        color: #444444;
        opacity: 1;
        margin-bottom: 23px;
    }
    p {
        font-size: 16px;
        line-height: 24px;
        font-family: SegoeUI-Semibold;
        letter-spacing: 0px;
        color: #444444;
        opacity: 1;
        margin-bottom: unset;
    }
    .link-form {
        padding-top: 44px;
        .std-code {
            display: inline-block;
            padding: 10px 20px 11px 20px;
            background-color: #ffffff;
            border: 1px solid #b97fb6a3;
            border-radius: 4px 0px 0px 4px;
            font-size: 14px;
            font-family: SegoeUI;
            line-height: 18px;
            letter-spacing: 0px;
            color: #888888;
            opacity: 1;
        }
        .form-input {
            padding: 10px 34px 11px 20px;
            width: 245px;
            background-color: #ffffff;
            border: 1px solid #b97fb6a3;
            margin-left: -6px;
            font-size: 14px;
            font-family: SegoeUI;
            line-height: 18px;
            letter-spacing: 0px;
            color: #888888;
            &:focus {
                outline: 0;
            }
        }
        .submit-button {
            background: transparent linear-gradient(90deg, #ee2a7b 0%, #6c1f69 100%) 0% 0% no-repeat padding-box;
            border: unset;
            border-radius: 0px 4px 4px 0px;
            opacity: 1;
            padding: 11px 22px 12px 18px;
            margin-left: -5px;
            font-family: SegoeUI-Semibold;
            font-size: 14px;
            line-height: 18px;
            letter-spacing: 0px;
            color: #ffffff;
            &:focus {
                outline: 0;
            }
        }
    }
    .links {
        padding-top: 24px;
        a {
            img {
                margin-right: 16px;
            }
        }
    }
}
footer {
    background: rgba($color: #eeeeee, $alpha: 0.64) 0% 0% no-repeat padding-box;
    padding: 120px 0px 64px 0px;
    img {
        float: left;
        padding-top: 3px;
    }
    p {
        font-size: 16px;
        line-height: 24px;
        font-family: SegoeUI-Semibold;
        letter-spacing: 0px;
        color: #444444;
        opacity: 1;
        margin-left: 98px;
        padding-top: 16px;
        width: 450px;
        max-width: 100%;
    }
    h4 {
        font-size: 18px;
        line-height: 24px;
        font-family: SegoeUI-Semibold;
        letter-spacing: 0px;
        color: #444444;
        opacity: 1;
        margin-bottom: 36px;
    }
    ul {
        padding-left: unset;
        margin-bottom: 120px;
        li {
            list-style: none;
            a {
                font-size: 14px;
                line-height: 36px;
                font-family: SegoeUI-Semibold;
                letter-spacing: 0px;
                color: #444444;
                opacity: 1;
                &:hover {
                    color: #444444;
                }
            }
        }
    }
    .border-bottem {
        border-top: 2px solid #ee2a7b;
        padding-bottom: 36px;
    }
    .social-media {
        a {
            img {
                margin-right: 16px;
            }
        }
    }
    .copy-right {
        p {
            width: 100%;
            text-align: right;
            margin-left: unset;
            padding-top: unset;
        }
    }
}

// =================   Become a partner ================

.register-form {
    background: rgba($color: #ee2a7b, $alpha: 0.08) 0% 0% no-repeat padding-box;
    border: 1px solid rgba($color: #707070, $alpha: 0.08);
    padding: 140px 0px 117px 0px;
    border-bottom: 8px solid #ee2a7b;
    h1 {
        font-size: 28px;
        line-height: 36px;
        font-family: Cambria-Bold;
        letter-spacing: 0px;
        color: #444444;
        opacity: 1;
    }
    #msform fieldset:not(:first-of-type) {
        display: none;
    }
    .form-section {
        padding-top: 48px;
        #msform {
            width: 100%;
            position: relative;
            fieldset {
                border: 0 none;
                width: 100%;
                position: relative;
                h6 {
                    font-size: 16px;
                    line-height: 32px;
                    letter-spacing: 0px;
                    color: #444444;
                    opacity: 1;
                    margin-bottom: 16px;
                    font-family: SegoeUI-Semibold;
                }
                input,
                textarea,
                select {
                    box-sizing: border-box;
                    font-family: SegoeUI;
                    width: 240px;
                    height: 40px;
                    font-size: 14px;
                    line-height: 18px;
                    letter-spacing: 0px;
                    color: #888888;
                    opacity: 1;
                    margin-right: 16px;
                    background: #ffffff 0% 0% no-repeat padding-box;
                    border: 1px solid #b97fb6a3;
                    border-radius: 4px;
                    padding: 11px 10px 10px 14px;
                    margin-bottom: 16px;
                    &:focus {
                        outline: 0;
                    }
                    &.thrd-field {
                        width: 496px;
                    }
                }
                select {
                    padding: 9px 10px 10px 8px;
                }
                .checkbox {
                    width: 18px;
                    height: 18px;
                    background: #6c1f69 0% 0% no-repeat padding-box;
                    margin: 0px 12px 0px 0px;
                }
                .check-label {
                    font-size: 14px;
                    line-height: 18px;
                    font-family: SegoeUI;
                    letter-spacing: 0px;
                    color: #6c1f69;
                    a {
                        font-size: 14px;
                        line-height: 18px;
                        font-family: SegoeUI-Bold;
                        letter-spacing: 0px;
                        color: #6c1f69;
                    }
                }
                .login-label {
                    font-size: 14px;
                    line-height: 18px;
                    font-family: SegoeUI;
                    letter-spacing: 0px;
                    color: #6c1f69;
                    a {
                        font-size: 14px;
                        line-height: 18px;
                        font-family: SegoeUI-Bold;
                        letter-spacing: 0px;
                        color: #6c1f69;
                    }
                }
                .scnd-field {
                    padding-bottom: 190px;
                }
                .action-button {
                    margin-left: 169px;
                    width: 120px;
                    background: transparent linear-gradient(90deg, #ee2a7b 0%, #6c1f69 100%) 0% 0% no-repeat padding-box;
                    border-radius: 4px;
                    color: white;
                    border: 0 none;
                    cursor: pointer;
                    font-size: 14px;
                    line-height: 18px;
                    font-family: SegoeUI-Semibold;
                    letter-spacing: 0px;
                    padding: 10px 48px 11px 35px;
                    span {
                        position: absolute;
                        border: solid white;
                        border-width: 0 2px 2px 0;
                        display: inline-block;
                        padding: 3px;
                        transform: rotate(-45deg);
                        -webkit-transform: rotate(-45deg);
                        margin-top: 4px;
                        margin-left: 10px;
                    }
                    &:focus {
                        outline: 0;
                    }
                    &.scnd-btn {
                        margin-left: 16px;
                    }
                    &.thrd-btn {
                        margin-left: 380px;
                    }
                    &.final {
                        margin-left: 0px;
                        width: 496px;
                    }
                }
                label {
                    &.link {
                        cursor: pointer;
                    }
                }
                .inputfile-box {
                    position: relative;
                }
                .inputfile {
                    display: none;
                }
                .file-box {
                    box-sizing: border-box;
                    font-family: SegoeUI;
                    width: 496px;
                    height: 40px;
                    font-size: 14px;
                    line-height: 18px;
                    letter-spacing: 0px;
                    color: #888888;
                    opacity: 1;
                    background: #ffffff 0% 0% no-repeat padding-box;
                    border: 1px solid #b97fb6a3;
                    border-radius: 4px;
                    padding: 11px 10px 10px 14px;
                    margin-bottom: 16px;
                    display: inline-block;
                }

                .file-button {
                    position: absolute;
                    top: 10px;
                    right: 60px;
                    font-size: 14px;
                    line-height: 18px;
                    font-family: SegoeUI-Bold;
                    letter-spacing: 0px;
                    color: #6c1f69;
                }
            }
        }
    }
}

/*progressbar*/
#progressbar {
    overflow: hidden;
    counter-reset: step;
    li {
        list-style-type: none;
        color: #888888;
        text-transform: uppercase;
        font-size: 9px;
        width: 20%;
        float: left;
        position: relative;
        text-align: center;
        &::before {
            content: counter(step);
            counter-increment: step;
            width: 24px;
            height: 24px;
            line-height: 20px;
            display: block;
            font-size: 12px;
            color: #888888;
            background: transparent;
            border: 2px solid #888888;
            border-radius: 50%;
            margin: 0 auto 0 auto;
        }
        &::after {
            content: "";
            width: 78%;
            height: 2px;
            background: #888888;
            position: absolute;
            left: -39%;
            top: 10px;
            z-index: -1;
        }
        &:first-child {
            &:after {
                content: none;
            }
        }
        &.active{
            &::before {
                border: 2px solid #ee2a7b;
                color: #ee2a7b;
            }
            &::after {
                background: #ee2a7b;
            }
        }
    }
}
.step_done::before {
    background-image: url("../images/check.jpg") !important;
    background-repeat: no-repeat !important;
    background-color: #ee2a7b !important;
    background-position: 80% 50% !important;
    z-index: 5;
}

@media only screen and (min-width: 1024px) and (max-width: 1200px) {
    .testimonial-slider {
        .slider-test {
            .slick-next {
                right: -63px;
            }
            .slick-prev {
                left: -32px;
            }
        }
    }
}
@media (max-width: 767px) {
    .header {
        .navbar {
            padding-top: 15px;
            padding-bottom: 15px;
            .collapse{
                width: unset;
            }
            .navbar-nav {
                margin-top: 30px;
                &.scnd-ul {
                    margin-left: unset;
                }
            }
            .navbar-brand {
                width: 70px;
                margin: 0;
                padding: 0 0.3rem 0.3rem 0.3rem;
                background: #ffffff 0% 0% no-repeat padding-box;
                box-shadow: 0px 4px 8px #00000029;
                border-radius: 28px 29px 21px 21px;
                img {
                    top: unset;
                    left: unset;
                    position: relative;
                    max-width: 100%;
                }
                span {
                    &::after {
                        content: none;
                    }
                }
            }
        }
    }
    .banner {
        background-color: rgba($color: #ee2a7b, $alpha: 0.08);
        background-size: 700px;
        background-position: 85% 100%;
        padding: 120px 0px 260px 0px;
        text-align: center;
        h1 {
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 20px;
        }
        h5 {
            font-size: 16px;
            line-height: 22px;
            margin-bottom: 23px;
        }
        p {
            padding-left: 20px;
        }
        .links {
            a {
                img {
                    margin: 0px 15% 32px 15%;
                    width: 203px;
                }
            }
        }
    }
    .leading-jewelery {
        background-size: 700px;
        padding: 60px 0px 190px 0px;
        text-align: center;
        h1 {
            font-size: 20px;
            line-height: 24px;
        }
        p {
            font-size: 16px;
            line-height: 24px;
        }
        .count-number {
            padding-top: 35px;
            .content {
                padding-top: 25px;
                margin-left: 0px;
                p {
                    margin-bottom: 40px;
                }
            }
        }
    }
    .reselling-business {
        padding: 60px 0px 90px 0px;
        text-align: center;
        h1 {
            font-size: 20px;
            line-height: 24px;
        }
        p {
            width: 100%;
        }
        .business-content {
            padding-top: 35px;
            p {
                height: auto;
                margin-bottom: 60px;
                &::before {
                    left: 38%;
                    bottom: -18px;
                }
            }
            .dspn-one {
                width: 100%;
            }
            .dspn-two {
                width: 100%;
            }
            .dspn-three {
                width: 100%;
            }
        }
    }
    .live-your-dream {
        .margin-top {
            margin-top: -100px;
            .video {
                width: 100%;
                &::after {
                    width: 50px;
                    height: 50px;
                }
                &::before {
                    top: 48%;
                    left: 48.5%;
                    border-top: 9px solid transparent;
                    border-left: 16px solid rgba($color: #ffffff, $alpha: 0.7);
                    border-bottom: 9px solid transparent;
                }
            }
            .content {
                top: 28px;
                left: 35px;
                h2 {
                    font-size: 15px;
                    line-height: 20px;
                }
            }
            .content-two {
                left: 35px;
                width: 35px;
                bottom: 20px;
            }
            .content-three {
                bottom: 6px;
                left: 80px;
                p {
                    width: 100%;
                    text-align: left;
                }
            }
        }
        .lady-img {
            padding-left: 0px;
            padding-top: 0px;
        }
        h1 {
            padding-top: 60px;
            font-size: 20px;
            line-height: 24px;
            text-align: center;
        }
        p {
            width: 100%;
            text-align: center;
        }
    }
    .nolimit-business {
        padding: 60px 0px 60px 0px;
        text-align: center;
        h1 {
            font-size: 20px;
            line-height: 24px;
        }
        .limit-content {
            padding-top: 40px;
            h5 {
                font-size: 20px;
                line-height: 24px;
                margin-bottom: 50px;
                &::before {
                    left: 44%;
                }
            }
            .dspn-one {
                width: 100%;
            }
            .dspn-two {
                width: 100%;
            }
            .dspn-three {
                width: 100%;
            }
        }
    }
    .anyone-can-resell {
        padding: 60px 0px 60px 0px;
        text-align: center;
        h1 {
            font-size: 20px;
            line-height: 24px;
        }
        .anyone-content {
            padding-top: 64px;
            text-align: center;
            .item {
                display: none;
                &.show {
                    display: inline;
                }
                .over-width {
                    width: 240px;
                    position: relative;
                    margin: 0 auto;
                }

                .overlay {
                    right: 0px;
                }
                h6 {
                    font-size: 14px;
                    line-height: 18px;
                    font-family: SegoeUI-Semibold;
                    letter-spacing: 0px;
                    color: #ffffff;
                    margin-bottom: 0px;
                }
                p {
                    font-size: 12px;
                    line-height: 18px;
                    letter-spacing: 0px;
                    color: #ffffff;
                    opacity: 1;
                    font-family: SegoeUI;
                    margin-bottom: 24px;
                }
                .dspn {
                    width: 100%;
                    left: 0px;
                    text-align: center;
                }
            }
        }
    }
    .successful-home-businesses {
        padding: 60px 0px 60px 0px;
        text-align: center;
        h1 {
            font-size: 20px;
            line-height: 24px;
        }
        p {
            font-size: 16px;
            line-height: 24px;
            margin-bottom: unset;
        }
        .slider-main {
            padding-top: 60px;
            .slider-inner {
                .slider-contents {
                    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.08);
                    margin-bottom: 20px;
                    &::after {
                        right: 42.5%;
                        bottom: 65%;
                        width: 50px;
                        height: 50px;
                    }
                    &::before {
                        right: 47%;
                        bottom: 69.5%;
                        border-top: 9px solid transparent;
                        border-left: 16px solid #ffffff;
                        border-bottom: 9px solid transparent;
                    }
                    img {
                        margin-right: 0px;
                    }
                    .overlay {
                        display: none;
                    }
                    .sub-content {
                        position: relative;
                        left: 0;
                        padding: 15px;
                        h5 {
                            color: #444444;
                            margin-bottom: 16px;
                            width: 100%;
                        }
                        h6 {
                            color: #444444;
                            margin-bottom: 0px;
                        }
                        p {
                            color: #444444;
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
    }
    .modal {
        .modal-dialog {
            .modal-content {
                .modal-body {
                    iframe {
                        width: 100%;
                        height: 320px;
                    }
                }
            }
        }
    }
    .testimonial-slider {
        .slider-test {
            padding-left: 0px;
            .test-inner {
                &:focus {
                    outline: 0;
                }
                img {
                    margin: 0 100px;
                }
            }
            .slide-chever {
                span {
                    padding: 9px;
                }
            }
            .slick-prev {
                left: -2px;
            }
            .slick-next {
                right: -3px;
            }
        }
    }
    .in-the-news {
        padding: 60px 0px 40px 0px;
        text-align: center;
        h1 {
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 20px;
        }
        img {
            margin-bottom: 20px;
        }
    }
    .zero-investment {
        text-align: center;
        h1 {
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 20px;
            padding-top: 0px;
        }
        h5 {
            font-size: 16px;
            line-height: 22px;
            margin-bottom: 20px;
        }
        .links {
            padding-top: 40px;
            a {
                img {
                    margin: 0 22.5% 32px 22.5%;
                }
            }
        }
    }
    footer {
        padding: 60px 0px 60px 0px;
        text-align: center;
        img {
            float: none;
            padding-top: 0px;
        }
        p {
            margin-left: 0px;
            padding-top: 20px;
            width: 100%;
            margin-bottom: 60px;
        }
        h4 {
            margin-bottom: 25px;
        }
        ul {
            margin-bottom: 50px;
        }
        .border-bottem {
            border-top: 2px solid #ee2a7b;
            padding-bottom: 36px;
        }
        .social-media {
            a {
                img {
                    margin: 0 13px;
                }
            }
        }
        .copy-right {
            p {
                width: 100%;
                text-align: center;
                margin-left: unset;
                padding-top: 15px;
                font-size: 12px;
                margin-bottom: unset;
            }
        }
    }

    // =================   Become a partner ================

    .register-form {
        padding: 140px 0px 80px 0px;
        h1 {
            font-size: 20px;
            line-height: 24px;
            text-align: center;
            margin-bottom: 45px;
        }
        .form-section {
            padding-top: 25px;
            #msform {
                fieldset {
                    width: 240px;
                    margin: 0 auto;
                    input,
                    textarea,
                    select {
                        margin-right: 0px;
                        &.thrd-field {
                            width: 240px;
                        }
                    }
                    .scnd-field {
                        padding-bottom: 0px;
                    }
                    .action-button {
                        margin: 25px 22.5% 0 22.5%;
                        &.scnd-btn {
                            margin: 0px 22.5% 10px 22.5%;
                        }
                        &.thrd-btn {
                            margin: 0px 22.5% 0px 22.5%;
                        }
                        &.final {
                            margin: 0px;
                            width: 240px;
                        }
                    }
                    .file-box {
                        width: 240px;
                    }
                    .file-button {
                        top: 10px;
                        right: 18px;
                    }
                }
            }
        }
    }
    #progressbar {
        overflow: hidden;
        counter-reset: step;
        padding-left: unset;
        width: 318px;
        margin: 0 auto;
    }
    #progressbar li:after {
        content: "";
        width: 65%;
        left: -32%;
    }
}

@media only screen and (min-width: 319px) and (max-width: 330px) {
    .testimonial-slider {
        .slider-test {
            .test-inner {
                img {
                    margin: 0 65px;
                }
            }
            .slide-chever {
                top: 46%;
                span {
                    padding: 3px;
                }
            }
            .slick-prev {
                left: -8px;
            }
            .slick-next {
                right: -8px;
            }
        }
    }
    footer {
        .social-media {
            a {
                img {
                    margin: 0px 9px;
                }
            }
        }
    }
    #progressbar {
        width: 290px;
    }
}
