html,
body {
  scroll-behavior: smooth !important;
}

@font-face {
  font-family: SegoeUI;
  src: url(../fonts/SegoeUI.ttf) format("truetype");
}

@font-face {
  font-family: SegoeUI-Semibold;
  src: url(../fonts/seguisb.ttf) format("truetype");
}

@font-face {
  font-family: SegoeUI-Bold;
  src: url(../fonts/SegoeUIBold.ttf) format("truetype");
}

@font-face {
  font-family: Cambria;
  src: url(../fonts/Cambria.ttf) format("truetype");
}

@font-face {
  font-family: Cambria-Bold;
  src: url(../fonts/cambriab.ttf) format("truetype");
}

a:hover {
  text-decoration: none;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 2;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 4px 8px #00000014;
          box-shadow: 0px 4px 8px #00000014;
}

.header .navbar {
  padding-top: 24px;
  padding-bottom: unset;
}

.header .navbar .collapse {
  width: 540px;
}

.header .navbar .navbar-brand {
  margin-right: unset;
  padding-top: unset;
  margin-bottom: -44px;
  position: relative;
}

.header .navbar .navbar-brand img {
  position: absolute;
  z-index: 5;
  top: -50px;
  left: -40px;
}

.header .navbar .navbar-brand span::after {
  content: "";
  bottom: -38px;
  left: -44px;
  width: 96px;
  height: 44px;
  position: absolute;
  background: #ffffff 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 4px 8px #00000029;
          box-shadow: 0px 4px 8px #00000029;
  border-radius: 0px 0px 28px 29px;
}

.header .navbar .navbar-nav {
  margin: 0 auto;
}

.header .navbar .navbar-nav .nav-link {
  font-size: 14px;
  font-family: SegoeUI-Bold;
  line-height: 14px;
  letter-spacing: 0px;
  color: #444444;
  opacity: 1;
  padding-top: 12px;
  padding-bottom: 17px;
}

.header .navbar .navbar-nav.frst-ul {
  margin-right: 152px;
}

.header .navbar .navbar-nav.scnd-ul {
  margin-left: 152px;
}

.header .navbar-light .navbar-toggler {
  border-color: #ee2a7b;
}

.header .navbar-light .navbar-toggler:focus {
  outline: 0;
}

.header .navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28238, 42, 123, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.banner {
  background-image: url(../images/Featured.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  padding: 140px 0px 155px 0px;
}

.banner h1 {
  font-size: 28px;
  font-family: Cambria-Bold;
  line-height: 36px;
  letter-spacing: 0px;
  color: #444444;
  opacity: 1;
  margin-bottom: 20px;
}

.banner h5 {
  font-size: 18px;
  font-family: SegoeUI-Bold;
  line-height: 24px;
  letter-spacing: 0px;
  color: #444444;
  opacity: 1;
  margin-bottom: 23px;
}

.banner p {
  font-size: 16px;
  font-family: SegoeUI-Semibold;
  letter-spacing: 0px;
  color: #444444;
  opacity: 1;
  margin-bottom: 6px;
  padding-left: 30px;
  position: relative;
}

.banner p::after {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 5px;
  border: 2px solid #ee2a7b;
  border-radius: 50%;
}

.banner .link-form {
  padding-top: 38px;
}

.banner .link-form .std-code {
  display: inline-block;
  padding: 10px 20px 11px 20px;
  background-color: #ffffff;
  border: 1px solid #b97fb6a3;
  border-radius: 4px 0px 0px 4px;
  font-size: 14px;
  font-family: SegoeUI;
  line-height: 18px;
  letter-spacing: 0px;
  color: #888888;
  opacity: 1;
}

.banner .link-form .form-input {
  padding: 10px 34px 11px 20px;
  width: 245px;
  background-color: #ffffff;
  border: 1px solid #b97fb6a3;
  margin-left: -6px;
  font-size: 14px;
  font-family: SegoeUI;
  line-height: 18px;
  letter-spacing: 0px;
  color: #888888;
}

.banner .link-form .form-input:focus {
  outline: 0;
}

.banner .link-form .submit-button {
  background: transparent -webkit-gradient(linear, left top, right top, from(#ee2a7b), to(#6c1f69)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(90deg, #ee2a7b 0%, #6c1f69 100%) 0% 0% no-repeat padding-box;
  border: unset;
  border-radius: 0px 4px 4px 0px;
  opacity: 1;
  padding: 11px 22px 12px 18px;
  margin-left: -5px;
  font-family: SegoeUI-Semibold;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0px;
  color: #ffffff;
}

.banner .link-form .submit-button:focus {
  outline: 0;
}

.banner .links {
  padding-top: 24px;
}

.banner .links a img {
  margin-right: 16px;
}

.leading-jewelery {
  background-image: url(../images/Main.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  padding: 120px 0px 508px 0px;
}

.leading-jewelery h1 {
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 0px;
  color: #444444;
  opacity: 1;
  margin-bottom: 20px;
  font-family: Cambria-Bold;
}

.leading-jewelery p {
  font-size: 16px;
  line-height: 24px;
  font-family: SegoeUI-Semibold;
  letter-spacing: 0px;
  color: #444444;
  opacity: 1;
  max-width: 100%;
}

.leading-jewelery .count-number {
  padding-top: 60px;
}

.leading-jewelery .count-number .content {
  padding-top: 15px;
  margin-left: -6px;
}

.leading-jewelery .count-number .content h6 {
  margin-bottom: unset;
  font-size: 18px;
  line-height: 20px;
  font-family: SegoeUI-Semibold;
  letter-spacing: 0px;
  color: #444444;
}

.leading-jewelery .count-number .content p {
  width: 100%;
  font-size: 14px;
  line-height: 20px;
  font-family: SegoeUI-Semibold;
  letter-spacing: 0px;
  color: #444444;
  margin-bottom: unset;
}

.reselling-business {
  background-color: #ffffff;
  padding: 120px 0px 323px 0px;
}

.reselling-business h1 {
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 0px;
  color: #444444;
  opacity: 1;
  margin-bottom: 20px;
  font-family: Cambria-Bold;
}

.reselling-business p {
  font-size: 16px;
  line-height: 24px;
  font-family: SegoeUI-Semibold;
  letter-spacing: 0px;
  color: #444444;
  opacity: 1;
  width: 415px;
  max-width: 100%;
}

.reselling-business .business-content {
  padding-top: 72px;
}

.reselling-business .business-content h5 {
  font-size: 20px;
  line-height: 24px;
  font-family: SegoeUI-Semibold;
  letter-spacing: 0px;
  color: #444444;
  margin-bottom: 12px;
}

.reselling-business .business-content p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  color: #444444;
  opacity: 1;
  font-family: SegoeUI;
  height: 60px;
  position: relative;
}

.reselling-business .business-content p::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -18px;
  width: 80px;
  height: 2px;
  background: #ee2a7b 0% 0% no-repeat padding-box;
}

.reselling-business .business-content .dspn-one {
  width: 210px;
  margin: 0 auto;
}

.reselling-business .business-content .dspn-two {
  width: 285px;
  margin: 0 auto;
}

.reselling-business .business-content .dspn-three {
  width: 230px;
  margin: 0 auto;
}

.live-your-dream {
  background: rgba(238, 42, 123, 0.08) 0% 0% no-repeat padding-box;
}

.live-your-dream .margin-top {
  margin-top: -210px;
}

.live-your-dream .margin-top .video {
  position: relative;
  width: 720px;
  margin: 0 auto;
}

.live-your-dream .margin-top .video::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 40%;
  left: 43%;
  background: rgba(238, 42, 123, 0.5) 0% 0% no-repeat padding-box;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.live-your-dream .margin-top .video::before {
  content: "";
  position: absolute;
  z-index: 2;
  top: 46%;
  left: 47.3%;
  border-top: 14px solid transparent;
  border-left: 24px solid rgba(255, 255, 255, 0.7);
  border-bottom: 14px solid transparent;
}

.live-your-dream .margin-top .content {
  position: absolute;
  z-index: 1;
  top: 0;
  top: 68px;
  left: 264px;
}

.live-your-dream .margin-top .content h2 {
  font-size: 32px;
  line-height: 42px;
  font-family: SegoeUI-Bold;
  letter-spacing: 0px;
  color: #6c1f69;
  opacity: 1;
}

.live-your-dream .margin-top .content h2 span {
  color: #ee2a7b;
}

.live-your-dream .margin-top .content-two {
  position: absolute;
  bottom: 58px;
  left: 268px;
  z-index: 1;
}

.live-your-dream .margin-top .content-three {
  position: absolute;
  bottom: 52px;
  left: 326px;
  z-index: 1;
}

.live-your-dream .margin-top .content-three h5 {
  font-size: 12px;
  line-height: 14px;
  font-family: SegoeUI-Bold;
  letter-spacing: 0px;
  color: #444444;
  opacity: 1;
  margin-bottom: unset;
}

.live-your-dream .margin-top .content-three p {
  font-size: 10px;
  line-height: 14px;
  font-family: SegoeUI-Bold;
  letter-spacing: 0px;
  color: #888888;
  opacity: 1;
}

.live-your-dream .lady-img {
  padding-left: 130px;
  padding-top: 46px;
}

.live-your-dream h1 {
  padding-top: 158px;
  margin-bottom: 20px;
  letter-spacing: 0px;
  color: #6c1f69;
  opacity: 1;
  font-size: 28px;
  line-height: 32px;
  font-family: Cambria-Bold;
}

.live-your-dream p {
  color: #6c1f69;
  font-size: 16px;
  line-height: 24px;
  font-family: SegoeUI-Semibold;
  letter-spacing: 0px;
  opacity: 1;
  width: 443px;
}

.nolimit-business {
  background-color: #ffffff;
  padding: 121px 0px 120px 0px;
}

.nolimit-business h1 {
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 0px;
  color: #444444;
  opacity: 1;
  margin-bottom: unset;
  font-family: Cambria-Bold;
}

.nolimit-business .limit-content {
  padding-top: 80px;
}

.nolimit-business .limit-content h5 {
  font-size: 20px;
  line-height: 24px;
  font-family: SegoeUI-Semibold;
  letter-spacing: 0px;
  color: #444444;
  margin-bottom: 12px;
  position: relative;
}

.nolimit-business .limit-content h5::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -24px;
  width: 40px;
  height: 2px;
  background: transparent -webkit-gradient(linear, left top, right top, from(#9c4ba0), to(#6c1f69)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(90deg, #9c4ba0 0%, #6c1f69 100%) 0% 0% no-repeat padding-box;
}

.nolimit-business .limit-content p {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0px;
  color: #444444;
  opacity: 1;
  font-family: SegoeUI-Semibold;
  margin-bottom: 8px;
}

.nolimit-business .limit-content .dspn-one {
  width: 160px;
  margin: 0 auto;
}

.nolimit-business .limit-content .dspn-two {
  width: 130px;
  margin: 0 auto;
}

.nolimit-business .limit-content .dspn-three {
  width: 170px;
  margin: 0 auto;
}

.anyone-can-resell {
  background: #eeeeee 0% 0% no-repeat padding-box;
  padding: 120px 0px 80px 0px;
}

.anyone-can-resell h1 {
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 0px;
  color: #444444;
  opacity: 1;
  margin-bottom: 20px;
  font-family: Cambria-Bold;
}

.anyone-can-resell p {
  font-size: 16px;
  line-height: 24px;
  font-family: SegoeUI-Semibold;
  letter-spacing: 0px;
  color: #444444;
  opacity: 1;
  width: 474px;
  max-width: 100%;
  margin-bottom: unset;
}

.anyone-can-resell .anyone-content {
  padding-top: 64px;
  text-align: right;
}

.anyone-can-resell .anyone-content .item {
  display: none;
}

.anyone-can-resell .anyone-content .item.show {
  display: inline;
}

.anyone-can-resell .anyone-content .item img {
  position: relative;
}

.anyone-can-resell .anyone-content .item .overlay {
  position: absolute;
  bottom: 0;
  right: 15px;
  width: 240px;
  height: 120px;
  background: transparent -webkit-gradient(linear, left top, left bottom, from(#00000000), to(#000000)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, #00000000 0%, #000000 100%) 0% 0% no-repeat padding-box;
  opacity: 0.64;
}

.anyone-can-resell .anyone-content .item h6 {
  font-size: 14px;
  line-height: 18px;
  font-family: SegoeUI-Semibold;
  letter-spacing: 0px;
  color: #ffffff;
  margin-bottom: 0px;
}

.anyone-can-resell .anyone-content .item p {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  font-family: SegoeUI;
  margin-bottom: 24px;
}

.anyone-can-resell .anyone-content .item .dspn {
  position: absolute;
  width: 80%;
  z-index: 1;
  bottom: 0;
  left: 54px;
  text-align: left;
}

.successful-home-businesses {
  background: #ffffff;
  padding: 120px 0px 144px 0px;
}

.successful-home-businesses h1 {
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 0px;
  color: #444444;
  opacity: 1;
  margin-bottom: 20px;
  font-family: Cambria-Bold;
}

.successful-home-businesses p {
  font-size: 16px;
  line-height: 24px;
  font-family: SegoeUI-Semibold;
  letter-spacing: 0px;
  color: #444444;
  opacity: 1;
  margin-bottom: unset;
}

.successful-home-businesses .slider-main {
  padding-top: 72px;
}

.successful-home-businesses .slider-main .slider-inner .slider-contents {
  position: relative;
}

.successful-home-businesses .slider-main .slider-inner .slider-contents::after {
  content: "";
  position: absolute;
  z-index: 1;
  right: 96px;
  bottom: 48px;
  background: transparent -webkit-gradient(linear, left top, left bottom, from(#ee2a7b), to(#6c1f69)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, #ee2a7b 0%, #6c1f69 100%) 0% 0% no-repeat padding-box;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.successful-home-businesses .slider-main .slider-inner .slider-contents::before {
  content: "";
  position: absolute;
  z-index: 2;
  right: 120px;
  bottom: 74px;
  border-top: 14px solid transparent;
  border-left: 24px solid #ffffff;
  border-bottom: 14px solid transparent;
}

.successful-home-businesses .slider-main .slider-inner .slider-contents img {
  margin-right: 48px;
}

.successful-home-businesses .slider-main .slider-inner .slider-contents .overlay {
  width: 720px;
  height: 240px;
  background: transparent -webkit-gradient(linear, left top, left bottom, from(#00000000), to(#000000)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, #00000000 0%, #000000 100%) 0% 0% no-repeat padding-box;
  opacity: 0.72;
  position: absolute;
  left: 0;
  bottom: 0;
}

.successful-home-businesses .slider-main .slider-inner .slider-contents .sub-content {
  position: absolute;
  bottom: 0;
  left: 48px;
  z-index: 1;
}

.successful-home-businesses .slider-main .slider-inner .slider-contents .sub-content h5 {
  font-size: 16px;
  line-height: 24px;
  font-family: SegoeUI-Semibold;
  letter-spacing: 0px;
  color: #ffffff;
  margin-bottom: 16px;
  width: 437px;
}

.successful-home-businesses .slider-main .slider-inner .slider-contents .sub-content h6 {
  font-size: 14px;
  line-height: 24px;
  font-family: SegoeUI-Semibold;
  letter-spacing: 0px;
  color: #ffffff;
  margin-bottom: 4px;
}

.successful-home-businesses .slider-main .slider-inner .slider-contents .sub-content p {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  font-family: SegoeUI;
  margin-bottom: 48px;
}

.successful-home-businesses .slider-main .slick-disabled {
  background: #888888 !important;
  width: 56px !important;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.successful-home-businesses .slider-main .slick-disabled span::after {
  border-color: #888888 !important;
  left: -22px !important;
}

.successful-home-businesses .slider-main .slick-disabled span.change::after {
  left: -4px !important;
}

.successful-home-businesses .slider-main .slide-arrow {
  position: absolute;
  bottom: -60px;
  border: 0;
  background: #ee2a7b;
  outline: 0;
  width: 120px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.successful-home-businesses .slider-main .slide-arrow span {
  height: 2px;
  width: 36px;
  position: relative;
}

.successful-home-businesses .slider-main .slide-arrow span::after {
  content: "";
  position: absolute;
  border: solid #ee2a7b;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 12px;
}

.successful-home-businesses .slider-main .slick-prev {
  right: 263px;
  z-index: 2;
}

.successful-home-businesses .slider-main .slick-prev span::after {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  top: -13px;
  left: -56px;
}

.successful-home-businesses .slider-main .slick-next {
  right: 115px;
}

.successful-home-businesses .slider-main .slick-next span::after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  top: -13px;
  left: 31px;
}

.successful-home-businesses .slick-list.draggable {
  padding: 0px 350px 0px 0px !important;
  -webkit-transition: 1s;
  transition: 1s;
}

.successful-home-businesses .slick-list.draggable.padding {
  padding: 0px 0px 0px 450px !important;
  -webkit-transition: 1s;
  transition: 1s;
}

.modal-open .modal {
  padding: unset !important;
}

.modal .modal-dialog {
  max-width: 100%;
  margin: unset;
}

.modal .modal-dialog .modal-content {
  background-color: transparent;
  border: unset;
}

.modal .modal-dialog .modal-content .modal-header {
  border-bottom: unset;
}

.modal .modal-dialog .modal-content .modal-header .close {
  font-size: 40px;
  color: #fff;
  cursor: pointer;
  font-weight: 400;
  line-height: 1;
  text-shadow: unset;
  opacity: 1;
}

.modal .modal-dialog .modal-content .modal-header .close:focus {
  outline: 0;
}

.modal .modal-dialog .modal-content .modal-body {
  padding: unset;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding-top: 80px;
}

.modal .modal-dialog .modal-content .modal-body iframe {
  width: 800px;
  height: 520px;
}

.testimonial-slider .slider-test {
  padding-left: 55px;
}

.testimonial-slider .slider-test .test-inner:focus {
  outline: 0;
}

.testimonial-slider .slider-test .test-inner img {
  margin-right: 52px;
}

.testimonial-slider .slider-test .slide-chever {
  position: absolute;
  top: 45%;
  border: 0;
  outline: 0;
  background-color: transparent;
}

.testimonial-slider .slider-test .slide-chever span {
  border: solid #888888;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 18px;
}

.testimonial-slider .slider-test .slide-chever span:hover {
  border-width: 0 3px 3px 0;
}

.testimonial-slider .slider-test .slick-prev {
  left: -22px;
  z-index: 2;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.testimonial-slider .slider-test .slick-next {
  right: -63px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.testimonial-slider .slick-list.draggable {
  padding: 0px 0px;
}

.in-the-news {
  background: #ffffff;
  padding: 120px 0px 53px 0px;
}

.in-the-news h1 {
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 0px;
  color: #444444;
  opacity: 1;
  margin-bottom: 48px;
  font-family: Cambria-Bold;
}

.in-the-news img {
  margin-bottom: 27px;
}

.zero-investment {
  background-color: #ffffff;
}

.zero-investment h1 {
  font-size: 28px;
  font-family: Cambria-Bold;
  line-height: 36px;
  letter-spacing: 0px;
  color: #444444;
  opacity: 1;
  margin-bottom: 20px;
  padding-top: 100px;
}

.zero-investment h5 {
  font-size: 18px;
  font-family: SegoeUI-Bold;
  line-height: 24px;
  letter-spacing: 0px;
  color: #444444;
  opacity: 1;
  margin-bottom: 23px;
}

.zero-investment p {
  font-size: 16px;
  line-height: 24px;
  font-family: SegoeUI-Semibold;
  letter-spacing: 0px;
  color: #444444;
  opacity: 1;
  margin-bottom: unset;
}

.zero-investment .link-form {
  padding-top: 44px;
}

.zero-investment .link-form .std-code {
  display: inline-block;
  padding: 10px 20px 11px 20px;
  background-color: #ffffff;
  border: 1px solid #b97fb6a3;
  border-radius: 4px 0px 0px 4px;
  font-size: 14px;
  font-family: SegoeUI;
  line-height: 18px;
  letter-spacing: 0px;
  color: #888888;
  opacity: 1;
}

.zero-investment .link-form .form-input {
  padding: 10px 34px 11px 20px;
  width: 245px;
  background-color: #ffffff;
  border: 1px solid #b97fb6a3;
  margin-left: -6px;
  font-size: 14px;
  font-family: SegoeUI;
  line-height: 18px;
  letter-spacing: 0px;
  color: #888888;
}

.zero-investment .link-form .form-input:focus {
  outline: 0;
}

.zero-investment .link-form .submit-button {
  background: transparent -webkit-gradient(linear, left top, right top, from(#ee2a7b), to(#6c1f69)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(90deg, #ee2a7b 0%, #6c1f69 100%) 0% 0% no-repeat padding-box;
  border: unset;
  border-radius: 0px 4px 4px 0px;
  opacity: 1;
  padding: 11px 22px 12px 18px;
  margin-left: -5px;
  font-family: SegoeUI-Semibold;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0px;
  color: #ffffff;
}

.zero-investment .link-form .submit-button:focus {
  outline: 0;
}

.zero-investment .links {
  padding-top: 24px;
}

.zero-investment .links a img {
  margin-right: 16px;
}

footer {
  background: rgba(238, 238, 238, 0.64) 0% 0% no-repeat padding-box;
  padding: 120px 0px 64px 0px;
}

footer img {
  float: left;
  padding-top: 3px;
}

footer p {
  font-size: 16px;
  line-height: 24px;
  font-family: SegoeUI-Semibold;
  letter-spacing: 0px;
  color: #444444;
  opacity: 1;
  margin-left: 98px;
  padding-top: 16px;
  width: 450px;
  max-width: 100%;
}

footer h4 {
  font-size: 18px;
  line-height: 24px;
  font-family: SegoeUI-Semibold;
  letter-spacing: 0px;
  color: #444444;
  opacity: 1;
  margin-bottom: 36px;
}

footer ul {
  padding-left: unset;
  margin-bottom: 120px;
}

footer ul li {
  list-style: none;
}

footer ul li a {
  font-size: 14px;
  line-height: 36px;
  font-family: SegoeUI-Semibold;
  letter-spacing: 0px;
  color: #444444;
  opacity: 1;
}

footer ul li a:hover {
  color: #444444;
}

footer .border-bottem {
  border-top: 2px solid #ee2a7b;
  padding-bottom: 36px;
}

footer .social-media a img {
  margin-right: 16px;
}

footer .copy-right p {
  width: 100%;
  text-align: right;
  margin-left: unset;
  padding-top: unset;
}

.register-form {
  background: rgba(238, 42, 123, 0.08) 0% 0% no-repeat padding-box;
  border: 1px solid rgba(112, 112, 112, 0.08);
  padding: 140px 0px 117px 0px;
  border-bottom: 8px solid #ee2a7b;
}

.register-form h1 {
  font-size: 28px;
  line-height: 36px;
  font-family: Cambria-Bold;
  letter-spacing: 0px;
  color: #444444;
  opacity: 1;
}

.register-form #msform fieldset:not(:first-of-type) {
  display: none;
}

.register-form .form-section {
  padding-top: 48px;
}

.register-form .form-section #msform {
  width: 100%;
  position: relative;
}

.register-form .form-section #msform fieldset {
  border: 0 none;
  width: 100%;
  position: relative;
}

.register-form .form-section #msform fieldset h6 {
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0px;
  color: #444444;
  opacity: 1;
  margin-bottom: 16px;
  font-family: SegoeUI-Semibold;
}

.register-form .form-section #msform fieldset input,
.register-form .form-section #msform fieldset textarea,
.register-form .form-section #msform fieldset select {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: SegoeUI;
  width: 240px;
  height: 40px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0px;
  color: #888888;
  opacity: 1;
  margin-right: 16px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #b97fb6a3;
  border-radius: 4px;
  padding: 11px 10px 10px 14px;
  margin-bottom: 16px;
}

.register-form .form-section #msform fieldset input:focus,
.register-form .form-section #msform fieldset textarea:focus,
.register-form .form-section #msform fieldset select:focus {
  outline: 0;
}

.register-form .form-section #msform fieldset input.thrd-field,
.register-form .form-section #msform fieldset textarea.thrd-field,
.register-form .form-section #msform fieldset select.thrd-field {
  width: 496px;
}

.register-form .form-section #msform fieldset select {
  padding: 9px 10px 10px 8px;
}

.register-form .form-section #msform fieldset .checkbox {
  width: 18px;
  height: 18px;
  background: #6c1f69 0% 0% no-repeat padding-box;
  margin: 0px 12px 0px 0px;
}

.register-form .form-section #msform fieldset .check-label {
  font-size: 14px;
  line-height: 18px;
  font-family: SegoeUI;
  letter-spacing: 0px;
  color: #6c1f69;
}

.register-form .form-section #msform fieldset .check-label a {
  font-size: 14px;
  line-height: 18px;
  font-family: SegoeUI-Bold;
  letter-spacing: 0px;
  color: #6c1f69;
}

.register-form .form-section #msform fieldset .login-label {
  font-size: 14px;
  line-height: 18px;
  font-family: SegoeUI;
  letter-spacing: 0px;
  color: #6c1f69;
}

.register-form .form-section #msform fieldset .login-label a {
  font-size: 14px;
  line-height: 18px;
  font-family: SegoeUI-Bold;
  letter-spacing: 0px;
  color: #6c1f69;
}

.register-form .form-section #msform fieldset .scnd-field {
  padding-bottom: 190px;
}

.register-form .form-section #msform fieldset .action-button {
  margin-left: 169px;
  width: 120px;
  background: transparent -webkit-gradient(linear, left top, right top, from(#ee2a7b), to(#6c1f69)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(90deg, #ee2a7b 0%, #6c1f69 100%) 0% 0% no-repeat padding-box;
  border-radius: 4px;
  color: white;
  border: 0 none;
  cursor: pointer;
  font-size: 14px;
  line-height: 18px;
  font-family: SegoeUI-Semibold;
  letter-spacing: 0px;
  padding: 10px 48px 11px 35px;
}

.register-form .form-section #msform fieldset .action-button span {
  position: absolute;
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin-top: 4px;
  margin-left: 10px;
}

.register-form .form-section #msform fieldset .action-button:focus {
  outline: 0;
}

.register-form .form-section #msform fieldset .action-button.scnd-btn {
  margin-left: 16px;
}

.register-form .form-section #msform fieldset .action-button.thrd-btn {
  margin-left: 380px;
}

.register-form .form-section #msform fieldset .action-button.final {
  margin-left: 0px;
  width: 496px;
}

.register-form .form-section #msform fieldset label.link {
  cursor: pointer;
}

.register-form .form-section #msform fieldset .inputfile-box {
  position: relative;
}

.register-form .form-section #msform fieldset .inputfile {
  display: none;
}

.register-form .form-section #msform fieldset .file-box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: SegoeUI;
  width: 496px;
  height: 40px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0px;
  color: #888888;
  opacity: 1;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #b97fb6a3;
  border-radius: 4px;
  padding: 11px 10px 10px 14px;
  margin-bottom: 16px;
  display: inline-block;
}

.register-form .form-section #msform fieldset .file-button {
  position: absolute;
  top: 10px;
  right: 60px;
  font-size: 14px;
  line-height: 18px;
  font-family: SegoeUI-Bold;
  letter-spacing: 0px;
  color: #6c1f69;
}

/*progressbar*/
#progressbar {
  overflow: hidden;
  counter-reset: step;
}

#progressbar li {
  list-style-type: none;
  color: #888888;
  text-transform: uppercase;
  font-size: 9px;
  width: 20%;
  float: left;
  position: relative;
  text-align: center;
}

#progressbar li::before {
  content: counter(step);
  counter-increment: step;
  width: 24px;
  height: 24px;
  line-height: 20px;
  display: block;
  font-size: 12px;
  color: #888888;
  background: transparent;
  border: 2px solid #888888;
  border-radius: 50%;
  margin: 0 auto 0 auto;
}

#progressbar li::after {
  content: "";
  width: 78%;
  height: 2px;
  background: #888888;
  position: absolute;
  left: -39%;
  top: 10px;
  z-index: -1;
}

#progressbar li:first-child:after {
  content: none;
}

#progressbar li.active::before {
  border: 2px solid #ee2a7b;
  color: #ee2a7b;
}

#progressbar li.active::after {
  background: #ee2a7b;
}

.step_done::before {
  background-image: url("../images/check.jpg") !important;
  background-repeat: no-repeat !important;
  background-color: #ee2a7b !important;
  background-position: 80% 50% !important;
  z-index: 5;
}

@media only screen and (min-width: 1024px) and (max-width: 1200px) {
  .testimonial-slider .slider-test .slick-next {
    right: -63px;
  }
  .testimonial-slider .slider-test .slick-prev {
    left: -32px;
  }
}

@media (max-width: 767px) {
  .header .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .header .navbar .collapse {
    width: unset;
  }
  .header .navbar .navbar-nav {
    margin-top: 30px;
  }
  .header .navbar .navbar-nav.scnd-ul {
    margin-left: unset;
  }
  .header .navbar .navbar-brand {
    width: 70px;
    margin: 0;
    padding: 0 0.3rem 0.3rem 0.3rem;
    background: #ffffff 0% 0% no-repeat padding-box;
    -webkit-box-shadow: 0px 4px 8px #00000029;
            box-shadow: 0px 4px 8px #00000029;
    border-radius: 28px 29px 21px 21px;
  }
  .header .navbar .navbar-brand img {
    top: unset;
    left: unset;
    position: relative;
    max-width: 100%;
  }
  .header .navbar .navbar-brand span::after {
    content: none;
  }
  .banner {
    background-color: rgba(238, 42, 123, 0.08);
    background-size: 700px;
    background-position: 85% 100%;
    padding: 120px 0px 260px 0px;
    text-align: center;
  }
  .banner h1 {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
  }
  .banner h5 {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 23px;
  }
  .banner p {
    padding-left: 20px;
  }
  .banner .links a img {
    margin: 0px 15% 32px 15%;
    width: 203px;
  }
  .leading-jewelery {
    background-size: 700px;
    padding: 60px 0px 190px 0px;
    text-align: center;
  }
  .leading-jewelery h1 {
    font-size: 20px;
    line-height: 24px;
  }
  .leading-jewelery p {
    font-size: 16px;
    line-height: 24px;
  }
  .leading-jewelery .count-number {
    padding-top: 35px;
  }
  .leading-jewelery .count-number .content {
    padding-top: 25px;
    margin-left: 0px;
  }
  .leading-jewelery .count-number .content p {
    margin-bottom: 40px;
  }
  .reselling-business {
    padding: 60px 0px 90px 0px;
    text-align: center;
  }
  .reselling-business h1 {
    font-size: 20px;
    line-height: 24px;
  }
  .reselling-business p {
    width: 100%;
  }
  .reselling-business .business-content {
    padding-top: 35px;
  }
  .reselling-business .business-content p {
    height: auto;
    margin-bottom: 60px;
  }
  .reselling-business .business-content p::before {
    left: 38%;
    bottom: -18px;
  }
  .reselling-business .business-content .dspn-one {
    width: 100%;
  }
  .reselling-business .business-content .dspn-two {
    width: 100%;
  }
  .reselling-business .business-content .dspn-three {
    width: 100%;
  }
  .live-your-dream .margin-top {
    margin-top: -100px;
  }
  .live-your-dream .margin-top .video {
    width: 100%;
  }
  .live-your-dream .margin-top .video::after {
    width: 50px;
    height: 50px;
  }
  .live-your-dream .margin-top .video::before {
    top: 48%;
    left: 48.5%;
    border-top: 9px solid transparent;
    border-left: 16px solid rgba(255, 255, 255, 0.7);
    border-bottom: 9px solid transparent;
  }
  .live-your-dream .margin-top .content {
    top: 28px;
    left: 35px;
  }
  .live-your-dream .margin-top .content h2 {
    font-size: 15px;
    line-height: 20px;
  }
  .live-your-dream .margin-top .content-two {
    left: 35px;
    width: 35px;
    bottom: 20px;
  }
  .live-your-dream .margin-top .content-three {
    bottom: 6px;
    left: 80px;
  }
  .live-your-dream .margin-top .content-three p {
    width: 100%;
    text-align: left;
  }
  .live-your-dream .lady-img {
    padding-left: 0px;
    padding-top: 0px;
  }
  .live-your-dream h1 {
    padding-top: 60px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
  .live-your-dream p {
    width: 100%;
    text-align: center;
  }
  .nolimit-business {
    padding: 60px 0px 60px 0px;
    text-align: center;
  }
  .nolimit-business h1 {
    font-size: 20px;
    line-height: 24px;
  }
  .nolimit-business .limit-content {
    padding-top: 40px;
  }
  .nolimit-business .limit-content h5 {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 50px;
  }
  .nolimit-business .limit-content h5::before {
    left: 44%;
  }
  .nolimit-business .limit-content .dspn-one {
    width: 100%;
  }
  .nolimit-business .limit-content .dspn-two {
    width: 100%;
  }
  .nolimit-business .limit-content .dspn-three {
    width: 100%;
  }
  .anyone-can-resell {
    padding: 60px 0px 60px 0px;
    text-align: center;
  }
  .anyone-can-resell h1 {
    font-size: 20px;
    line-height: 24px;
  }
  .anyone-can-resell .anyone-content {
    padding-top: 64px;
    text-align: center;
  }
  .anyone-can-resell .anyone-content .item {
    display: none;
  }
  .anyone-can-resell .anyone-content .item.show {
    display: inline;
  }
  .anyone-can-resell .anyone-content .item .over-width {
    width: 240px;
    position: relative;
    margin: 0 auto;
  }
  .anyone-can-resell .anyone-content .item .overlay {
    right: 0px;
  }
  .anyone-can-resell .anyone-content .item h6 {
    font-size: 14px;
    line-height: 18px;
    font-family: SegoeUI-Semibold;
    letter-spacing: 0px;
    color: #ffffff;
    margin-bottom: 0px;
  }
  .anyone-can-resell .anyone-content .item p {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    font-family: SegoeUI;
    margin-bottom: 24px;
  }
  .anyone-can-resell .anyone-content .item .dspn {
    width: 100%;
    left: 0px;
    text-align: center;
  }
  .successful-home-businesses {
    padding: 60px 0px 60px 0px;
    text-align: center;
  }
  .successful-home-businesses h1 {
    font-size: 20px;
    line-height: 24px;
  }
  .successful-home-businesses p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: unset;
  }
  .successful-home-businesses .slider-main {
    padding-top: 60px;
  }
  .successful-home-businesses .slider-main .slider-inner .slider-contents {
    -webkit-box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.08);
            box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.08);
    margin-bottom: 20px;
  }
  .successful-home-businesses .slider-main .slider-inner .slider-contents::after {
    right: 42.5%;
    bottom: 65%;
    width: 50px;
    height: 50px;
  }
  .successful-home-businesses .slider-main .slider-inner .slider-contents::before {
    right: 47%;
    bottom: 69.5%;
    border-top: 9px solid transparent;
    border-left: 16px solid #ffffff;
    border-bottom: 9px solid transparent;
  }
  .successful-home-businesses .slider-main .slider-inner .slider-contents img {
    margin-right: 0px;
  }
  .successful-home-businesses .slider-main .slider-inner .slider-contents .overlay {
    display: none;
  }
  .successful-home-businesses .slider-main .slider-inner .slider-contents .sub-content {
    position: relative;
    left: 0;
    padding: 15px;
  }
  .successful-home-businesses .slider-main .slider-inner .slider-contents .sub-content h5 {
    color: #444444;
    margin-bottom: 16px;
    width: 100%;
  }
  .successful-home-businesses .slider-main .slider-inner .slider-contents .sub-content h6 {
    color: #444444;
    margin-bottom: 0px;
  }
  .successful-home-businesses .slider-main .slider-inner .slider-contents .sub-content p {
    color: #444444;
    margin-bottom: 10px;
  }
  .modal .modal-dialog .modal-content .modal-body iframe {
    width: 100%;
    height: 320px;
  }
  .testimonial-slider .slider-test {
    padding-left: 0px;
  }
  .testimonial-slider .slider-test .test-inner:focus {
    outline: 0;
  }
  .testimonial-slider .slider-test .test-inner img {
    margin: 0 100px;
  }
  .testimonial-slider .slider-test .slide-chever span {
    padding: 9px;
  }
  .testimonial-slider .slider-test .slick-prev {
    left: -2px;
  }
  .testimonial-slider .slider-test .slick-next {
    right: -3px;
  }
  .in-the-news {
    padding: 60px 0px 40px 0px;
    text-align: center;
  }
  .in-the-news h1 {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
  }
  .in-the-news img {
    margin-bottom: 20px;
  }
  .zero-investment {
    text-align: center;
  }
  .zero-investment h1 {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
    padding-top: 0px;
  }
  .zero-investment h5 {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 20px;
  }
  .zero-investment .links {
    padding-top: 40px;
  }
  .zero-investment .links a img {
    margin: 0 22.5% 32px 22.5%;
  }
  footer {
    padding: 60px 0px 60px 0px;
    text-align: center;
  }
  footer img {
    float: none;
    padding-top: 0px;
  }
  footer p {
    margin-left: 0px;
    padding-top: 20px;
    width: 100%;
    margin-bottom: 60px;
  }
  footer h4 {
    margin-bottom: 25px;
  }
  footer ul {
    margin-bottom: 50px;
  }
  footer .border-bottem {
    border-top: 2px solid #ee2a7b;
    padding-bottom: 36px;
  }
  footer .social-media a img {
    margin: 0 13px;
  }
  footer .copy-right p {
    width: 100%;
    text-align: center;
    margin-left: unset;
    padding-top: 15px;
    font-size: 12px;
    margin-bottom: unset;
  }
  .register-form {
    padding: 140px 0px 80px 0px;
  }
  .register-form h1 {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 45px;
  }
  .register-form .form-section {
    padding-top: 25px;
  }
  .register-form .form-section #msform fieldset {
    width: 240px;
    margin: 0 auto;
  }
  .register-form .form-section #msform fieldset input,
  .register-form .form-section #msform fieldset textarea,
  .register-form .form-section #msform fieldset select {
    margin-right: 0px;
  }
  .register-form .form-section #msform fieldset input.thrd-field,
  .register-form .form-section #msform fieldset textarea.thrd-field,
  .register-form .form-section #msform fieldset select.thrd-field {
    width: 240px;
  }
  .register-form .form-section #msform fieldset .scnd-field {
    padding-bottom: 0px;
  }
  .register-form .form-section #msform fieldset .action-button {
    margin: 25px 22.5% 0 22.5%;
  }
  .register-form .form-section #msform fieldset .action-button.scnd-btn {
    margin: 0px 22.5% 10px 22.5%;
  }
  .register-form .form-section #msform fieldset .action-button.thrd-btn {
    margin: 0px 22.5% 0px 22.5%;
  }
  .register-form .form-section #msform fieldset .action-button.final {
    margin: 0px;
    width: 240px;
  }
  .register-form .form-section #msform fieldset .file-box {
    width: 240px;
  }
  .register-form .form-section #msform fieldset .file-button {
    top: 10px;
    right: 18px;
  }
  #progressbar {
    overflow: hidden;
    counter-reset: step;
    padding-left: unset;
    width: 318px;
    margin: 0 auto;
  }
  #progressbar li:after {
    content: "";
    width: 65%;
    left: -32%;
  }
}

@media only screen and (min-width: 319px) and (max-width: 330px) {
  .testimonial-slider .slider-test .test-inner img {
    margin: 0 65px;
  }
  .testimonial-slider .slider-test .slide-chever {
    top: 46%;
  }
  .testimonial-slider .slider-test .slide-chever span {
    padding: 3px;
  }
  .testimonial-slider .slider-test .slick-prev {
    left: -8px;
  }
  .testimonial-slider .slider-test .slick-next {
    right: -8px;
  }
  footer .social-media a img {
    margin: 0px 9px;
  }
  #progressbar {
    width: 290px;
  }
}

@media (min-width: 319px)  {

  .custom-margin-top{
    margin-top: 10px;

  }
}
/*# sourceMappingURL=style.css.map */